<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gallary.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallary.description %>
</p>

<%= link_to 'Edit', edit_gallary_path(@gallary) %> |
<%= link_to 'Back', gallaries_path %>
